<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>button_003_pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,440},{56,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,63}}</string>
                <key>sourceSize</key>
                <string>{56,63}</string>
            </dict>
            <key>button_003_sound_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,826},{338,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,96}}</string>
                <key>sourceSize</key>
                <string>{338,96}</string>
            </dict>
            <key>button_003_sound_close_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,728},{338,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,96}}</string>
                <key>sourceSize</key>
                <string>{338,96}</string>
            </dict>
            <key>button_003_sound_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,406},{338,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,96}}</string>
                <key>sourceSize</key>
                <string>{338,96}</string>
            </dict>
            <key>button_003_sound_open_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,308},{338,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,96}}</string>
                <key>sourceSize</key>
                <string>{338,96}</string>
            </dict>
            <key>button_004_bisha_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,308},{152,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,130}}</string>
                <key>sourceSize</key>
                <string>{152,130}</string>
            </dict>
            <key>button_004_hudun.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{15,972}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,972}}</string>
                <key>sourceSize</key>
                <string>{15,972}</string>
            </dict>
            <key>button_004_hudun_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,277},{152,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,130}}</string>
                <key>sourceSize</key>
                <string>{152,130}</string>
            </dict>
            <key>button_004_pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,440},{50,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{50,55}}</string>
                <key>sourceSize</key>
                <string>{56,63}</string>
            </dict>
            <key>button_005_earn.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,630},{375,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{375,96}}</string>
                <key>sourceSize</key>
                <string>{375,96}</string>
            </dict>
            <key>button_005_earn_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,532},{375,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{375,96}}</string>
                <key>sourceSize</key>
                <string>{375,96}</string>
            </dict>
            <key>ui_board_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,192},{682,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{682,114}}</string>
                <key>sourceSize</key>
                <string>{682,114}</string>
            </dict>
            <key>ui_board_001_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,440},{61,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,63}}</string>
                <key>sourceSize</key>
                <string>{61,63}</string>
            </dict>
            <key>ui_board_001_diamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,247},{66,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,60}}</string>
                <key>sourceSize</key>
                <string>{66,60}</string>
            </dict>
            <key>ui_board_001_no_b_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,976},{38,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,41}}</string>
                <key>sourceSize</key>
                <string>{38,41}</string>
            </dict>
            <key>ui_board_001_no_b_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1013,2},{8,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,38}}</string>
                <key>sourceSize</key>
                <string>{8,38}</string>
            </dict>
            <key>ui_board_001_no_b_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,348},{33,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,38}}</string>
                <key>sourceSize</key>
                <string>{33,38}</string>
            </dict>
            <key>ui_board_001_no_b_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,348},{32,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,38}}</string>
                <key>sourceSize</key>
                <string>{32,38}</string>
            </dict>
            <key>ui_board_001_no_b_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,247},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>ui_board_001_no_b_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,277},{33,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,38}}</string>
                <key>sourceSize</key>
                <string>{33,38}</string>
            </dict>
            <key>ui_board_001_no_b_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{19,308},{35,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,40}}</string>
                <key>sourceSize</key>
                <string>{35,40}</string>
            </dict>
            <key>ui_board_001_no_b_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,308},{35,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,38}}</string>
                <key>sourceSize</key>
                <string>{35,38}</string>
            </dict>
            <key>ui_board_001_no_b_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,287},{37,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,41}}</string>
                <key>sourceSize</key>
                <string>{37,41}</string>
            </dict>
            <key>ui_board_001_no_b_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{19,350},{35,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,39}}</string>
                <key>sourceSize</key>
                <string>{35,39}</string>
            </dict>
            <key>ui_board_001_no_y_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,406},{29,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,32}}</string>
                <key>sourceSize</key>
                <string>{29,32}</string>
            </dict>
            <key>ui_board_001_no_y_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1013,62},{7,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,30}}</string>
                <key>sourceSize</key>
                <string>{7,30}</string>
            </dict>
            <key>ui_board_001_no_y_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,406},{26,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,30}}</string>
                <key>sourceSize</key>
                <string>{26,30}</string>
            </dict>
            <key>ui_board_001_no_y_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,406},{25,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,30}}</string>
                <key>sourceSize</key>
                <string>{25,30}</string>
            </dict>
            <key>ui_board_001_no_y_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,406},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>ui_board_001_no_y_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,341},{27,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,31}}</string>
                <key>sourceSize</key>
                <string>{27,31}</string>
            </dict>
            <key>ui_board_001_no_y_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,374},{27,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,30}}</string>
                <key>sourceSize</key>
                <string>{27,30}</string>
            </dict>
            <key>ui_board_001_no_y_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{19,406},{29,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,32}}</string>
                <key>sourceSize</key>
                <string>{29,32}</string>
            </dict>
            <key>ui_board_001_no_y_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,308},{27,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,31}}</string>
                <key>sourceSize</key>
                <string>{27,31}</string>
            </dict>
            <key>ui_board_001_no_y_mh.png</key>
            <dict>
                <key>frame</key>
                <string>{{1013,42},{8,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,18}}</string>
                <key>sourceSize</key>
                <string>{8,18}</string>
            </dict>
            <key>ui_board_001_tili.png</key>
            <dict>
                <key>frame</key>
                <string>{{19,440},{43,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,68}}</string>
                <key>sourceSize</key>
                <string>{43,68}</string>
            </dict>
            <key>ui_board_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,2},{693,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{693,188}}</string>
                <key>sourceSize</key>
                <string>{693,188}</string>
            </dict>
            <key>ui_board_002_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,265},{182,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,10}}</string>
                <key>sourceSize</key>
                <string>{182,10}</string>
            </dict>
            <key>ui_board_002_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,247},{188,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,16}}</string>
                <key>sourceSize</key>
                <string>{188,16}</string>
            </dict>
            <key>ui_board_002_no_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{19,32},{19,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,28}}</string>
                <key>sourceSize</key>
                <string>{19,28}</string>
            </dict>
            <key>ui_board_002_no_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{19,269},{11,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,27}}</string>
                <key>sourceSize</key>
                <string>{11,27}</string>
            </dict>
            <key>ui_board_002_no_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{19,240},{17,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,27}}</string>
                <key>sourceSize</key>
                <string>{17,27}</string>
            </dict>
            <key>ui_board_002_no_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{19,181},{17,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,28}}</string>
                <key>sourceSize</key>
                <string>{17,28}</string>
            </dict>
            <key>ui_board_002_no_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{19,62},{19,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,27}}</string>
                <key>sourceSize</key>
                <string>{19,27}</string>
            </dict>
            <key>ui_board_002_no_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{19,151},{17,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,28}}</string>
                <key>sourceSize</key>
                <string>{17,28}</string>
            </dict>
            <key>ui_board_002_no_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{19,121},{18,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,28}}</string>
                <key>sourceSize</key>
                <string>{18,28}</string>
            </dict>
            <key>ui_board_002_no_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{19,211},{17,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,27}}</string>
                <key>sourceSize</key>
                <string>{17,27}</string>
            </dict>
            <key>ui_board_002_no_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{19,2},{19,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,28}}</string>
                <key>sourceSize</key>
                <string>{19,28}</string>
            </dict>
            <key>ui_board_002_no_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{19,91},{18,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,28}}</string>
                <key>sourceSize</key>
                <string>{18,28}</string>
            </dict>
            <key>ui_board_tips.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,532},{511,487}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{511,487}}</string>
                <key>sourceSize</key>
                <string>{511,487}</string>
            </dict>
            <key>ui_zhuangshi_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,2},{274,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,243}}</string>
                <key>sourceSize</key>
                <string>{274,243}</string>
            </dict>
            <key>ui_zhuangshi_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,330},{141,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,200}}</string>
                <key>sourceSize</key>
                <string>{141,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>001_ui_001.png</string>
            <key>size</key>
            <string>{1024,1021}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:32ec222b1a1acb6440f57d5ac4e3bc25$</string>
            <key>textureFileName</key>
            <string>001_ui_001.png</string>
        </dict>
    </dict>
</plist>
