<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>button_000_top_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,830},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>button_001_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,516},{190,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,100}}</string>
                <key>sourceSize</key>
                <string>{190,100}</string>
            </dict>
            <key>button_001_depot.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,324},{190,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,100}}</string>
                <key>sourceSize</key>
                <string>{190,100}</string>
            </dict>
            <key>button_001_model_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,594},{312,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{312,133}}</string>
                <key>sourceSize</key>
                <string>{312,133}</string>
            </dict>
            <key>button_001_model_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,459},{312,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{312,133}}</string>
                <key>sourceSize</key>
                <string>{312,133}</string>
            </dict>
            <key>button_001_model_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,324},{312,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{312,133}}</string>
                <key>sourceSize</key>
                <string>{312,133}</string>
            </dict>
            <key>button_001_model_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,46},{312,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{312,133}}</string>
                <key>sourceSize</key>
                <string>{312,133}</string>
            </dict>
            <key>button_001_pilot.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,262},{190,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,100}}</string>
                <key>sourceSize</key>
                <string>{190,100}</string>
            </dict>
            <key>button_002_boom.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,181},{171,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,150}}</string>
                <key>sourceSize</key>
                <string>{171,150}</string>
            </dict>
            <key>button_002_pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,127},{48,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,50}}</string>
                <key>sourceSize</key>
                <string>{48,50}</string>
            </dict>
            <key>ui_000_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{695,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{695,123}}</string>
                <key>sourceSize</key>
                <string>{695,123}</string>
            </dict>
            <key>ui_000_top_activity_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,751},{77,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,82}}</string>
                <key>sourceSize</key>
                <string>{77,82}</string>
            </dict>
            <key>ui_000_top_diamond_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,127},{63,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,47}}</string>
                <key>sourceSize</key>
                <string>{63,47}</string>
            </dict>
            <key>ui_000_top_g_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,127},{59,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,52}}</string>
                <key>sourceSize</key>
                <string>{59,52}</string>
            </dict>
            <key>ui_000_top_prizes_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,229},{77,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,81}}</string>
                <key>sourceSize</key>
                <string>{77,81}</string>
            </dict>
            <key>ui_000_top_tili_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,749},{159,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,43}}</string>
                <key>sourceSize</key>
                <string>{159,43}</string>
            </dict>
            <key>ui_000_top_tili_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,127},{159,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,43}}</string>
                <key>sourceSize</key>
                <string>{159,43}</string>
            </dict>
            <key>ui_000_top_tili_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,174},{63,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,84}}</string>
                <key>sourceSize</key>
                <string>{63,84}</string>
            </dict>
            <key>ui_001_barrier_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,899},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{40,40}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>ui_001_barrier_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,260},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>ui_001_barrier_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,394},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>ui_001_barrier_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{20,992},{30,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,16}}</string>
                <key>sourceSize</key>
                <string>{30,16}</string>
            </dict>
            <key>ui_001_barrier_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,992},{30,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,16}}</string>
                <key>sourceSize</key>
                <string>{30,16}</string>
            </dict>
            <key>ui_001_plane_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,444},{303,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,64}}</string>
                <key>sourceSize</key>
                <string>{303,64}</string>
            </dict>
            <key>ui_001_plane_01_photo.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,308},{134,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,134}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>ui_002_boss_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,307},{416,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{416,15}}</string>
                <key>sourceSize</key>
                <string>{416,15}</string>
            </dict>
            <key>ui_002_boss_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1013,46},{410,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{410,9}}</string>
                <key>sourceSize</key>
                <string>{410,9}</string>
            </dict>
            <key>ui_002_hp_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,2},{313,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,42}}</string>
                <key>sourceSize</key>
                <string>{313,42}</string>
            </dict>
            <key>ui_002_hp_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,708},{307,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{307,36}}</string>
                <key>sourceSize</key>
                <string>{307,36}</string>
            </dict>
            <key>ui_002_hp_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,127},{63,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,45}}</string>
                <key>sourceSize</key>
                <string>{63,45}</string>
            </dict>
            <key>ui_002_pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,458},{532,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{532,512}}</string>
                <key>sourceSize</key>
                <string>{532,512}</string>
            </dict>
            <key>ui_003_star_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,181},{479,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{479,124}}</string>
                <key>sourceSize</key>
                <string>{479,124}</string>
            </dict>
            <key>ui_003_star_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,333},{100,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,96}}</string>
                <key>sourceSize</key>
                <string>{100,96}</string>
            </dict>
            <key>ui_003_star_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,328},{66,64}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,15},{66,64}}</string>
                <key>sourceSize</key>
                <string>{100,96}</string>
            </dict>
            <key>w_activity.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,127},{92,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,44}}</string>
                <key>sourceSize</key>
                <string>{92,44}</string>
            </dict>
            <key>w_barrier_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,992},{17,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,28}}</string>
                <key>sourceSize</key>
                <string>{17,28}</string>
            </dict>
            <key>w_barrier_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,992},{12,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,28}}</string>
                <key>sourceSize</key>
                <string>{12,28}</string>
            </dict>
            <key>w_barrier_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,992},{17,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,28}}</string>
                <key>sourceSize</key>
                <string>{17,28}</string>
            </dict>
            <key>w_barrier_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,992},{17,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,28}}</string>
                <key>sourceSize</key>
                <string>{17,28}</string>
            </dict>
            <key>w_barrier_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,992},{18,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,28}}</string>
                <key>sourceSize</key>
                <string>{18,28}</string>
            </dict>
            <key>w_barrier_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,992},{17,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,28}}</string>
                <key>sourceSize</key>
                <string>{17,28}</string>
            </dict>
            <key>w_barrier_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,992},{17,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,28}}</string>
                <key>sourceSize</key>
                <string>{17,28}</string>
            </dict>
            <key>w_barrier_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,992},{14,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,28}}</string>
                <key>sourceSize</key>
                <string>{14,28}</string>
            </dict>
            <key>w_barrier_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,992},{17,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,28}}</string>
                <key>sourceSize</key>
                <string>{17,28}</string>
            </dict>
            <key>w_barrier_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,992},{17,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,28}}</string>
                <key>sourceSize</key>
                <string>{17,28}</string>
            </dict>
            <key>w_continue.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,263},{190,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,100}}</string>
                <key>sourceSize</key>
                <string>{190,100}</string>
            </dict>
            <key>w_exit.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,127},{190,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,100}}</string>
                <key>sourceSize</key>
                <string>{190,100}</string>
            </dict>
            <key>w_g.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,708},{86,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,41}}</string>
                <key>sourceSize</key>
                <string>{86,41}</string>
            </dict>
            <key>w_pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,333},{122,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,65}}</string>
                <key>sourceSize</key>
                <string>{122,65}</string>
            </dict>
            <key>w_prizes.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,173},{89,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,44}}</string>
                <key>sourceSize</key>
                <string>{89,44}</string>
            </dict>
            <key>w_score.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,219},{86,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,42}}</string>
                <key>sourceSize</key>
                <string>{86,42}</string>
            </dict>
            <key>w_score_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,992},{23,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,33}}</string>
                <key>sourceSize</key>
                <string>{23,33}</string>
            </dict>
            <key>w_score_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,229},{15,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,31}}</string>
                <key>sourceSize</key>
                <string>{15,31}</string>
            </dict>
            <key>w_score_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,992},{23,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,32}}</string>
                <key>sourceSize</key>
                <string>{23,32}</string>
            </dict>
            <key>w_score_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,992},{22,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,33}}</string>
                <key>sourceSize</key>
                <string>{22,33}</string>
            </dict>
            <key>w_score_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,992},{25,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,31}}</string>
                <key>sourceSize</key>
                <string>{25,31}</string>
            </dict>
            <key>w_score_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,992},{23,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,32}}</string>
                <key>sourceSize</key>
                <string>{23,32}</string>
            </dict>
            <key>w_score_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,992},{24,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,33}}</string>
                <key>sourceSize</key>
                <string>{24,33}</string>
            </dict>
            <key>w_score_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,992},{21,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,31}}</string>
                <key>sourceSize</key>
                <string>{21,31}</string>
            </dict>
            <key>w_score_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,992},{23,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,33}}</string>
                <key>sourceSize</key>
                <string>{23,33}</string>
            </dict>
            <key>w_score_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,992},{23,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,33}}</string>
                <key>sourceSize</key>
                <string>{23,33}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>002_ui.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:12dbb6938fb894a7250a36bb2db46b0a$</string>
            <key>textureFileName</key>
            <string>002_ui.png</string>
        </dict>
    </dict>
</plist>
