<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>button_001_start.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{375,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{375,96}}</string>
                <key>sourceSize</key>
                <string>{375,96}</string>
            </dict>
            <key>button_001_start_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{375,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{375,96}}</string>
                <key>sourceSize</key>
                <string>{375,96}</string>
            </dict>
            <key>button_001_tiaozhan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{376,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{376,96}}</string>
                <key>sourceSize</key>
                <string>{376,96}</string>
            </dict>
            <key>button_001_tiaozhan_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{376,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{376,96}}</string>
                <key>sourceSize</key>
                <string>{376,96}</string>
            </dict>
            <key>button_002_cj_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,270},{166,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,123}}</string>
                <key>sourceSize</key>
                <string>{166,123}</string>
            </dict>
            <key>button_002_cj_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,145},{166,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,123}}</string>
                <key>sourceSize</key>
                <string>{166,123}</string>
            </dict>
            <key>button_002_qhzj.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,395},{338,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,96}}</string>
                <key>sourceSize</key>
                <string>{338,96}</string>
            </dict>
            <key>button_002_qhzj_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,2},{338,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,96}}</string>
                <key>sourceSize</key>
                <string>{338,96}</string>
            </dict>
            <key>button_setting_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,394},{161,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,111}}</string>
                <key>sourceSize</key>
                <string>{161,111}</string>
            </dict>
            <key>button_setting_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,394},{161,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,111}}</string>
                <key>sourceSize</key>
                <string>{161,111}</string>
            </dict>
            <key>ui_zhuangshi_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,2},{141,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,200}}</string>
                <key>sourceSize</key>
                <string>{141,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>view2.png</string>
            <key>size</key>
            <string>{680,507}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3788b34c4157dc510ed54647cae274fa:1/1$</string>
            <key>textureFileName</key>
            <string>view2.png</string>
        </dict>
    </dict>
</plist>
