<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>p_boss_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{618,382}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{618,382}}</string>
                <key>sourceSize</key>
                <string>{618,382}</string>
            </dict>
            <key>p_enemy_001_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,139},{206,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,135}}</string>
                <key>sourceSize</key>
                <string>{206,135}</string>
            </dict>
            <key>p_enemy_001_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,2},{206,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,135}}</string>
                <key>sourceSize</key>
                <string>{206,135}</string>
            </dict>
            <key>p_enemy_002_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,386},{190,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,105}}</string>
                <key>sourceSize</key>
                <string>{190,105}</string>
            </dict>
            <key>p_enemy_002_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,386},{190,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,105}}</string>
                <key>sourceSize</key>
                <string>{190,105}</string>
            </dict>
            <key>plane_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,2},{191,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,131}}</string>
                <key>sourceSize</key>
                <string>{191,131}</string>
            </dict>
            <key>plane_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{161,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,123}}</string>
                <key>sourceSize</key>
                <string>{161,123}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>001_plane.png</string>
            <key>size</key>
            <string>{1023,511}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5c15c6b2976a4ab9ab156d5adf6acda6$</string>
            <key>textureFileName</key>
            <string>001_plane.png</string>
        </dict>
    </dict>
</plist>
