<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui_board_009_end.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{672,818}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{672,818}}</string>
                <key>sourceSize</key>
                <string>{672,818}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>001_ui_005.png</string>
            <key>size</key>
            <string>{676,822}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:baa5b0bf634fbabed87fba9acb1c5ce0$</string>
            <key>textureFileName</key>
            <string>001_ui_005.png</string>
        </dict>
    </dict>
</plist>
