<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui_board_008_hf.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,2},{681,356}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{681,356}}</string>
                <key>sourceSize</key>
                <string>{681,356}</string>
            </dict>
            <key>ui_board_010_chengjiu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{560,906}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{560,906}}</string>
                <key>sourceSize</key>
                <string>{560,906}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>001_ui_007.png</string>
            <key>size</key>
            <string>{922,910}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6b3e00ae3e83da6e7f0c7090110aae49$</string>
            <key>textureFileName</key>
            <string>001_ui_007.png</string>
        </dict>
    </dict>
</plist>
