<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>view_back_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,853},{166,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,123}}</string>
                <key>sourceSize</key>
                <string>{166,123}</string>
            </dict>
            <key>view_back_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,685},{166,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,123}}</string>
                <key>sourceSize</key>
                <string>{166,123}</string>
            </dict>
            <key>view_border_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{511,973}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{511,973}}</string>
                <key>sourceSize</key>
                <string>{511,973}</string>
            </dict>
            <key>view_border_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,515},{511,477}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{511,477}}</string>
                <key>sourceSize</key>
                <string>{511,477}</string>
            </dict>
            <key>view_cell.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,515},{470,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{470,138}}</string>
                <key>sourceSize</key>
                <string>{470,138}</string>
            </dict>
            <key>view_diamond_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,795},{66,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,60}}</string>
                <key>sourceSize</key>
                <string>{66,60}</string>
            </dict>
            <key>view_diamond_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,685},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>view_fastget_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,600},{260,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,83}}</string>
                <key>sourceSize</key>
                <string>{260,83}</string>
            </dict>
            <key>view_fastget_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,515},{260,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,83}}</string>
                <key>sourceSize</key>
                <string>{260,83}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>view.png</string>
            <key>size</key>
            <string>{977,994}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2b832c76b4320a52840eff2a61ffa999:1/1$</string>
            <key>textureFileName</key>
            <string>view.png</string>
        </dict>
    </dict>
</plist>
