<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui_board_009_end_lose.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,94},{386,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{386,90}}</string>
                <key>sourceSize</key>
                <string>{386,90}</string>
            </dict>
            <key>ui_board_009_end_tongji.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,186},{378,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,99}}</string>
                <key>sourceSize</key>
                <string>{378,99}</string>
            </dict>
            <key>ui_board_009_end_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,2},{386,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{386,90}}</string>
                <key>sourceSize</key>
                <string>{386,90}</string>
            </dict>
            <key>ui_board_010_chengjiu-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,543},{106,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,101}}</string>
                <key>sourceSize</key>
                <string>{106,101}</string>
            </dict>
            <key>ui_board_010_chengjiu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,125},{582,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{582,121}}</string>
                <key>sourceSize</key>
                <string>{582,121}</string>
            </dict>
            <key>ui_board_010_chengjiu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,514},{106,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,101}}</string>
                <key>sourceSize</key>
                <string>{106,101}</string>
            </dict>
            <key>ui_board_010_chengjiu_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,434},{208,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,123}}</string>
                <key>sourceSize</key>
                <string>{208,123}</string>
            </dict>
            <key>ui_board_010_star_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,382},{61,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,58}}</string>
                <key>sourceSize</key>
                <string>{61,58}</string>
            </dict>
            <key>ui_board_010_star_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,322},{61,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,58}}</string>
                <key>sourceSize</key>
                <string>{61,58}</string>
            </dict>
            <key>ui_board_011_diamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{582,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{582,121}}</string>
                <key>sourceSize</key>
                <string>{582,121}</string>
            </dict>
            <key>ui_board_011_diamond_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,263},{336,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,88}}</string>
                <key>sourceSize</key>
                <string>{336,88}</string>
            </dict>
            <key>ui_select_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,388},{136,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,153}}</string>
                <key>sourceSize</key>
                <string>{136,153}</string>
            </dict>
            <key>ui_select_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,248},{136,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,153}}</string>
                <key>sourceSize</key>
                <string>{136,153}</string>
            </dict>
            <key>ui_select_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,403},{134,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,109}}</string>
                <key>sourceSize</key>
                <string>{134,109}</string>
            </dict>
            <key>ui_select_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,248},{63,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,72}}</string>
                <key>sourceSize</key>
                <string>{63,72}</string>
            </dict>
            <key>ui_select_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,353},{234,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,203}}</string>
                <key>sourceSize</key>
                <string>{234,203}</string>
            </dict>
            <key>ui_select_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,353},{30,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,16}}</string>
                <key>sourceSize</key>
                <string>{30,16}</string>
            </dict>
            <key>ui_select_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,353},{30,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,16}}</string>
                <key>sourceSize</key>
                <string>{30,16}</string>
            </dict>
            <key>ui_select_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,421},{215,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,65}}</string>
                <key>sourceSize</key>
                <string>{215,65}</string>
            </dict>
            <key>ui_select_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,367},{215,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,65}}</string>
                <key>sourceSize</key>
                <string>{215,65}</string>
            </dict>
            <key>ui_select_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,354},{215,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,65}}</string>
                <key>sourceSize</key>
                <string>{215,65}</string>
            </dict>
            <key>ui_select_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,300},{215,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,65}}</string>
                <key>sourceSize</key>
                <string>{215,65}</string>
            </dict>
            <key>ui_select_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,287},{215,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,65}}</string>
                <key>sourceSize</key>
                <string>{215,65}</string>
            </dict>
            <key>ui_select_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,248},{376,13}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,60},{376,13}}</string>
                <key>sourceSize</key>
                <string>{376,141}</string>
            </dict>
            <key>word_a_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,488},{49,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,73}}</string>
                <key>sourceSize</key>
                <string>{49,73}</string>
            </dict>
            <key>word_a_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,563},{33,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,61}}</string>
                <key>sourceSize</key>
                <string>{33,61}</string>
            </dict>
            <key>word_a_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,514},{21,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,61}}</string>
                <key>sourceSize</key>
                <string>{21,61}</string>
            </dict>
            <key>word_a_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,563},{33,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,61}}</string>
                <key>sourceSize</key>
                <string>{33,61}</string>
            </dict>
            <key>word_a_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,551},{33,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,61}}</string>
                <key>sourceSize</key>
                <string>{33,61}</string>
            </dict>
            <key>word_a_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,562},{33,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,61}}</string>
                <key>sourceSize</key>
                <string>{33,61}</string>
            </dict>
            <key>word_a_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,263},{35,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,60}}</string>
                <key>sourceSize</key>
                <string>{35,60}</string>
            </dict>
            <key>word_a_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,551},{33,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,61}}</string>
                <key>sourceSize</key>
                <string>{33,61}</string>
            </dict>
            <key>word_a_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,325},{34,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,61}}</string>
                <key>sourceSize</key>
                <string>{34,61}</string>
            </dict>
            <key>word_a_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,488},{33,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,61}}</string>
                <key>sourceSize</key>
                <string>{33,61}</string>
            </dict>
            <key>word_a_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,488},{33,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,61}}</string>
                <key>sourceSize</key>
                <string>{33,61}</string>
            </dict>
            <key>word_a_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,563},{30,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,72}}</string>
                <key>sourceSize</key>
                <string>{30,72}</string>
            </dict>
            <key>word_a_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,2},{47,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,73}}</string>
                <key>sourceSize</key>
                <string>{47,73}</string>
            </dict>
            <key>word_a_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,151},{46,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,73}}</string>
                <key>sourceSize</key>
                <string>{46,73}</string>
            </dict>
            <key>word_a_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,226},{52,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,72}}</string>
                <key>sourceSize</key>
                <string>{52,72}</string>
            </dict>
            <key>word_a_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,488},{46,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,72}}</string>
                <key>sourceSize</key>
                <string>{46,72}</string>
            </dict>
            <key>word_a_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,442},{50,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,73}}</string>
                <key>sourceSize</key>
                <string>{50,73}</string>
            </dict>
            <key>word_a_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,77},{47,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,72}}</string>
                <key>sourceSize</key>
                <string>{47,72}</string>
            </dict>
            <key>word_a_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,517},{49,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,73}}</string>
                <key>sourceSize</key>
                <string>{49,73}</string>
            </dict>
            <key>word_a_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,488},{49,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,73}}</string>
                <key>sourceSize</key>
                <string>{49,73}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>001_ui_004.png</string>
            <key>size</key>
            <string>{1023,646}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6ba9b9c38a5636b8f6899ab859202ac9$</string>
            <key>textureFileName</key>
            <string>001_ui_004.png</string>
        </dict>
    </dict>
</plist>
