<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,604},{338,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,96}}</string>
                <key>sourceSize</key>
                <string>{338,96}</string>
            </dict>
            <key>button_001_boss.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{433,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{433,109}}</string>
                <key>sourceSize</key>
                <string>{433,109}</string>
            </dict>
            <key>button_001_start.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,407},{375,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{375,96}}</string>
                <key>sourceSize</key>
                <string>{375,96}</string>
            </dict>
            <key>button_001_tiaozhan.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,2},{376,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{376,96}}</string>
                <key>sourceSize</key>
                <string>{376,96}</string>
            </dict>
            <key>button_002_attack.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,394},{375,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{375,96}}</string>
                <key>sourceSize</key>
                <string>{375,96}</string>
            </dict>
            <key>button_002_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,252},{166,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,123}}</string>
                <key>sourceSize</key>
                <string>{166,123}</string>
            </dict>
            <key>button_002_cj.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,127},{166,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,123}}</string>
                <key>sourceSize</key>
                <string>{166,123}</string>
            </dict>
            <key>button_002_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,252},{80,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,76}}</string>
                <key>sourceSize</key>
                <string>{80,76}</string>
            </dict>
            <key>button_002_libao.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,490},{160,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,112}}</string>
                <key>sourceSize</key>
                <string>{160,112}</string>
            </dict>
            <key>button_002_qhzj.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,603},{338,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,96}}</string>
                <key>sourceSize</key>
                <string>{338,96}</string>
            </dict>
            <key>button_002_sj.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,377},{161,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,111}}</string>
                <key>sourceSize</key>
                <string>{161,111}</string>
            </dict>
            <key>button_002_sjm.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,688},{267,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,111}}</string>
                <key>sourceSize</key>
                <string>{267,111}</string>
            </dict>
            <key>button_002_sz.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,2},{166,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,123}}</string>
                <key>sourceSize</key>
                <string>{166,123}</string>
            </dict>
            <key>button_003_bcbisha.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,309},{375,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{375,96}}</string>
                <key>sourceSize</key>
                <string>{375,96}</string>
            </dict>
            <key>button_003_bcbisha_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,296},{375,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{375,96}}</string>
                <key>sourceSize</key>
                <string>{375,96}</string>
            </dict>
            <key>button_003_bchudun.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,211},{375,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{375,96}}</string>
                <key>sourceSize</key>
                <string>{375,96}</string>
            </dict>
            <key>button_003_bchudun_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,198},{375,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{375,96}}</string>
                <key>sourceSize</key>
                <string>{375,96}</string>
            </dict>
            <key>button_003_continue.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,590},{338,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,96}}</string>
                <key>sourceSize</key>
                <string>{338,96}</string>
            </dict>
            <key>button_003_continue_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,505},{338,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,96}}</string>
                <key>sourceSize</key>
                <string>{338,96}</string>
            </dict>
            <key>button_003_libao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,113},{375,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{375,96}}</string>
                <key>sourceSize</key>
                <string>{375,96}</string>
            </dict>
            <key>button_003_libao_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,100},{375,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{375,96}}</string>
                <key>sourceSize</key>
                <string>{375,96}</string>
            </dict>
            <key>button_003_main.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,492},{338,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,96}}</string>
                <key>sourceSize</key>
                <string>{338,96}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>001_ui_006.png</string>
            <key>size</key>
            <string>{1022,801}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:593ac07d7063fbd5b005da1909bcb953$</string>
            <key>textureFileName</key>
            <string>001_ui_006.png</string>
        </dict>
    </dict>
</plist>
