<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui_board_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,207},{694,394}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{694,394}}</string>
                <key>sourceSize</key>
                <string>{694,394}</string>
            </dict>
            <key>ui_board_003_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,207},{12,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,23}}</string>
                <key>sourceSize</key>
                <string>{12,23}</string>
            </dict>
            <key>ui_board_003_icon_armor_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,825},{117,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,116}}</string>
                <key>sourceSize</key>
                <string>{117,116}</string>
            </dict>
            <key>ui_board_003_icon_armor_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,707},{117,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,116}}</string>
                <key>sourceSize</key>
                <string>{117,116}</string>
            </dict>
            <key>ui_board_003_icon_armor_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,825},{117,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,116}}</string>
                <key>sourceSize</key>
                <string>{117,116}</string>
            </dict>
            <key>ui_board_003_icon_armor_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,707},{117,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,116}}</string>
                <key>sourceSize</key>
                <string>{117,116}</string>
            </dict>
            <key>ui_board_003_icon_dd_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,825},{117,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,116}}</string>
                <key>sourceSize</key>
                <string>{117,116}</string>
            </dict>
            <key>ui_board_003_icon_dd_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,707},{117,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,116}}</string>
                <key>sourceSize</key>
                <string>{117,116}</string>
            </dict>
            <key>ui_board_003_icon_dd_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,825},{117,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,116}}</string>
                <key>sourceSize</key>
                <string>{117,116}</string>
            </dict>
            <key>ui_board_003_icon_dd_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,707},{117,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,116}}</string>
                <key>sourceSize</key>
                <string>{117,116}</string>
            </dict>
            <key>ui_board_003_icon_lj_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,589},{117,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,116}}</string>
                <key>sourceSize</key>
                <string>{117,116}</string>
            </dict>
            <key>ui_board_003_icon_lj_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,558},{117,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,116}}</string>
                <key>sourceSize</key>
                <string>{117,116}</string>
            </dict>
            <key>ui_board_003_icon_lj_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,471},{117,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,116}}</string>
                <key>sourceSize</key>
                <string>{117,116}</string>
            </dict>
            <key>ui_board_003_icon_lj_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,440},{117,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,116}}</string>
                <key>sourceSize</key>
                <string>{117,116}</string>
            </dict>
            <key>ui_board_003_icon_zj_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,353},{117,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,116}}</string>
                <key>sourceSize</key>
                <string>{117,116}</string>
            </dict>
            <key>ui_board_003_icon_zj_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,322},{117,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,116}}</string>
                <key>sourceSize</key>
                <string>{117,116}</string>
            </dict>
            <key>ui_board_003_icon_zj_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,235},{117,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,116}}</string>
                <key>sourceSize</key>
                <string>{117,116}</string>
            </dict>
            <key>ui_board_003_icon_zj_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,204},{117,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,116}}</string>
                <key>sourceSize</key>
                <string>{117,116}</string>
            </dict>
            <key>ui_board_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{714,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{714,203}}</string>
                <key>sourceSize</key>
                <string>{714,203}</string>
            </dict>
            <key>ui_board_009_end_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,2},{191,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,200}}</string>
                <key>sourceSize</key>
                <string>{191,200}</string>
            </dict>
            <key>ui_board_009_end_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,603},{88,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,106}}</string>
                <key>sourceSize</key>
                <string>{88,106}</string>
            </dict>
            <key>ui_board_009_end_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,119},{106,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,114}}</string>
                <key>sourceSize</key>
                <string>{106,114}</string>
            </dict>
            <key>ui_board_009_end_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,2},{107,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,115}}</string>
                <key>sourceSize</key>
                <string>{107,115}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>001_ui_002.png</string>
            <key>size</key>
            <string>{1020,943}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fba499b33722c44262cad99953bdcddb$</string>
            <key>textureFileName</key>
            <string>001_ui_002.png</string>
        </dict>
    </dict>
</plist>
