<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui_board_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,111},{687,419}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{687,419}}</string>
                <key>sourceSize</key>
                <string>{687,419}</string>
            </dict>
            <key>ui_board_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,532},{525,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{525,224}}</string>
                <key>sourceSize</key>
                <string>{525,224}</string>
            </dict>
            <key>ui_board_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{720,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,107}}</string>
                <key>sourceSize</key>
                <string>{720,107}</string>
            </dict>
            <key>ui_board_007_boss_hp_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,758},{498,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{498,20}}</string>
                <key>sourceSize</key>
                <string>{498,20}</string>
            </dict>
            <key>ui_board_007_boss_hp_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,758},{517,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{517,30}}</string>
                <key>sourceSize</key>
                <string>{517,30}</string>
            </dict>
            <key>ui_board_007_hp_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,44},{211,20}}</string>
                <key>offset</key>
                <string>{-17,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,20}}</string>
                <key>sourceSize</key>
                <string>{245,20}</string>
            </dict>
            <key>ui_board_007_hp_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,2},{224,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,40}}</string>
                <key>sourceSize</key>
                <string>{224,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>001_ui_003.png</string>
            <key>size</key>
            <string>{1021,790}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c882c87256bc6c70231b2be83141ebf8$</string>
            <key>textureFileName</key>
            <string>001_ui_003.png</string>
        </dict>
    </dict>
</plist>
