<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>barrage_a_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,508},{39,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,40}}</string>
                <key>sourceSize</key>
                <string>{39,40}</string>
            </dict>
            <key>barrage_a_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,524},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>barrage_a_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,475},{44,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,41}}</string>
                <key>sourceSize</key>
                <string>{44,41}</string>
            </dict>
            <key>barrage_a_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,945},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>barrage_a_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,579},{79,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,79}}</string>
                <key>sourceSize</key>
                <string>{79,79}</string>
            </dict>
            <key>barrage_a_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,579},{73,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,80}}</string>
                <key>sourceSize</key>
                <string>{73,80}</string>
            </dict>
            <key>barrage_a_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,319},{46,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,42}}</string>
                <key>sourceSize</key>
                <string>{46,42}</string>
            </dict>
            <key>barrage_a_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,945},{56,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,48}}</string>
                <key>sourceSize</key>
                <string>{56,48}</string>
            </dict>
            <key>barrage_a_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,214},{112,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,111}}</string>
                <key>sourceSize</key>
                <string>{112,111}</string>
            </dict>
            <key>barrage_b_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,333},{96,326}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,326}}</string>
                <key>sourceSize</key>
                <string>{96,326}</string>
            </dict>
            <key>barrage_b_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,661},{92,312}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,312}}</string>
                <key>sourceSize</key>
                <string>{92,312}</string>
            </dict>
            <key>barrage_b_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{102,329}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,329}}</string>
                <key>sourceSize</key>
                <string>{102,329}</string>
            </dict>
            <key>barrage_b_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,2},{111,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,204}}</string>
                <key>sourceSize</key>
                <string>{111,204}</string>
            </dict>
            <key>barrage_b_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,2},{111,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,204}}</string>
                <key>sourceSize</key>
                <string>{111,204}</string>
            </dict>
            <key>barrage_c_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,299},{69,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,201}}</string>
                <key>sourceSize</key>
                <string>{69,201}</string>
            </dict>
            <key>barrage_c_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,384},{62,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,138}}</string>
                <key>sourceSize</key>
                <string>{62,138}</string>
            </dict>
            <key>barrage_c_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,236},{102,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,91}}</string>
                <key>sourceSize</key>
                <string>{102,91}</string>
            </dict>
            <key>barrage_c_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,514},{44,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,96}}</string>
                <key>sourceSize</key>
                <string>{44,96}</string>
            </dict>
            <key>barrage_c_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,384},{53,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,89}}</string>
                <key>sourceSize</key>
                <string>{53,89}</string>
            </dict>
            <key>barrage_c_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,350},{64,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,126}}</string>
                <key>sourceSize</key>
                <string>{64,126}</string>
            </dict>
            <key>barrage_c_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,2},{28,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,149}}</string>
                <key>sourceSize</key>
                <string>{28,149}</string>
            </dict>
            <key>barrage_c_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,363},{45,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,149}}</string>
                <key>sourceSize</key>
                <string>{45,149}</string>
            </dict>
            <key>barrage_c_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,208},{80,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,89}}</string>
                <key>sourceSize</key>
                <string>{80,89}</string>
            </dict>
            <key>barrage_c_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,236},{26,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,94}}</string>
                <key>sourceSize</key>
                <string>{26,94}</string>
            </dict>
            <key>barrage_c_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{66,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,205}}</string>
                <key>sourceSize</key>
                <string>{66,205}</string>
            </dict>
            <key>barrage_c_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,209},{52,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,108}}</string>
                <key>sourceSize</key>
                <string>{52,108}</string>
            </dict>
            <key>barrage_c_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,384},{55,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,122}}</string>
                <key>sourceSize</key>
                <string>{55,122}</string>
            </dict>
            <key>barrage_c_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,502},{57,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,166}}</string>
                <key>sourceSize</key>
                <string>{57,166}</string>
            </dict>
            <key>barrage_c_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,350},{62,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,140}}</string>
                <key>sourceSize</key>
                <string>{62,140}</string>
            </dict>
            <key>ef_explosion_01_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,945},{60,68}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,113},{60,68}}</string>
                <key>sourceSize</key>
                <string>{258,306}</string>
            </dict>
            <key>ef_explosion_01_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,208},{144,140}}</string>
                <key>offset</key>
                <string>{-10,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,84},{144,140}}</string>
                <key>sourceSize</key>
                <string>{258,306}</string>
            </dict>
            <key>ef_explosion_01_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,2},{210,210}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,46},{210,210}}</string>
                <key>sourceSize</key>
                <string>{258,306}</string>
            </dict>
            <key>ef_explosion_01_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,333},{252,244}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,26},{252,244}}</string>
                <key>sourceSize</key>
                <string>{258,306}</string>
            </dict>
            <key>ef_explosion_01_e.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,332},{196,210}}</string>
                <key>offset</key>
                <string>{18,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,33},{196,210}}</string>
                <key>sourceSize</key>
                <string>{258,306}</string>
            </dict>
            <key>ef_explosion_01_f.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,2},{190,198}}</string>
                <key>offset</key>
                <string>{8,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,45},{190,198}}</string>
                <key>sourceSize</key>
                <string>{258,306}</string>
            </dict>
            <key>ef_explosion_01_g.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,661},{258,282}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,282}}</string>
                <key>sourceSize</key>
                <string>{258,306}</string>
            </dict>
            <key>ef_explosion_01_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{186,232}}</string>
                <key>offset</key>
                <string>{14,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,39},{186,232}}</string>
                <key>sourceSize</key>
                <string>{258,306}</string>
            </dict>
            <key>item_00_hp.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,236},{88,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,93}}</string>
                <key>sourceSize</key>
                <string>{88,93}</string>
            </dict>
            <key>item_01_power.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,579},{98,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,80}}</string>
                <key>sourceSize</key>
                <string>{98,80}</string>
            </dict>
            <key>item_02_shield_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,214},{106,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,116}}</string>
                <key>sourceSize</key>
                <string>{106,116}</string>
            </dict>
            <key>item_02_shield_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,202},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>itme_03_money_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,945},{52,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,55}}</string>
                <key>sourceSize</key>
                <string>{52,55}</string>
            </dict>
            <key>itme_03_money_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,975},{52,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,44}}</string>
                <key>sourceSize</key>
                <string>{52,44}</string>
            </dict>
            <key>itme_03_money_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,945},{47,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,48}}</string>
                <key>sourceSize</key>
                <string>{47,48}</string>
            </dict>
            <key>itme_03_money_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,975},{47,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,47}}</string>
                <key>sourceSize</key>
                <string>{47,47}</string>
            </dict>
            <key>missile_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,518},{32,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,122}}</string>
                <key>sourceSize</key>
                <string>{32,122}</string>
            </dict>
            <key>missile_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,524},{37,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,126}}</string>
                <key>sourceSize</key>
                <string>{37,126}</string>
            </dict>
            <key>missile_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,565},{37,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,123}}</string>
                <key>sourceSize</key>
                <string>{37,123}</string>
            </dict>
            <key>missile_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,478},{36,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,134}}</string>
                <key>sourceSize</key>
                <string>{36,134}</string>
            </dict>
            <key>missile_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,478},{36,147}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,147}}</string>
                <key>sourceSize</key>
                <string>{36,151}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>002_ef_001.png</string>
            <key>size</key>
            <string>{1022,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5259c8229dd65c0a4aa90a6e63ae1fdb$</string>
            <key>textureFileName</key>
            <string>002_ef_001.png</string>
        </dict>
    </dict>
</plist>
