<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>plane_middle_01_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,752},{193,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,157}}</string>
                <key>sourceSize</key>
                <string>{193,157}</string>
            </dict>
            <key>plane_middle_01_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,761},{194,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,157}}</string>
                <key>sourceSize</key>
                <string>{194,157}</string>
            </dict>
            <key>plane_middle_01_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,509},{193,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,157}}</string>
                <key>sourceSize</key>
                <string>{193,157}</string>
            </dict>
            <key>plane_middle_02_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,2},{198,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,127}}</string>
                <key>sourceSize</key>
                <string>{198,127}</string>
            </dict>
            <key>plane_middle_02_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,263},{198,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,127}}</string>
                <key>sourceSize</key>
                <string>{198,127}</string>
            </dict>
            <key>plane_middle_02_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,134},{198,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,127}}</string>
                <key>sourceSize</key>
                <string>{198,127}</string>
            </dict>
            <key>plane_middle_03_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{190,251}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,251}}</string>
                <key>sourceSize</key>
                <string>{190,251}</string>
            </dict>
            <key>plane_middle_03_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,509},{189,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,250}}</string>
                <key>sourceSize</key>
                <string>{189,250}</string>
            </dict>
            <key>plane_middle_03_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{191,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,252}}</string>
                <key>sourceSize</key>
                <string>{191,252}</string>
            </dict>
            <key>plane_small_01_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,920},{118,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,83}}</string>
                <key>sourceSize</key>
                <string>{118,83}</string>
            </dict>
            <key>plane_small_01_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,668},{116,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,82}}</string>
                <key>sourceSize</key>
                <string>{116,82}</string>
            </dict>
            <key>plane_small_01_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,920},{117,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,82}}</string>
                <key>sourceSize</key>
                <string>{117,82}</string>
            </dict>
            <key>plane_small_02_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,131},{128,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,120}}</string>
                <key>sourceSize</key>
                <string>{128,120}</string>
            </dict>
            <key>plane_small_02_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,514},{128,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,120}}</string>
                <key>sourceSize</key>
                <string>{128,120}</string>
            </dict>
            <key>plane_small_02_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,392},{128,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,120}}</string>
                <key>sourceSize</key>
                <string>{128,120}</string>
            </dict>
            <key>plane_small_03_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,392},{149,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,103}}</string>
                <key>sourceSize</key>
                <string>{149,103}</string>
            </dict>
            <key>plane_small_03_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,911},{149,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,103}}</string>
                <key>sourceSize</key>
                <string>{149,103}</string>
            </dict>
            <key>plane_small_03_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,911},{149,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,103}}</string>
                <key>sourceSize</key>
                <string>{149,103}</string>
            </dict>
            <key>plane_small_04_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,2},{109,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,132}}</string>
                <key>sourceSize</key>
                <string>{109,132}</string>
            </dict>
            <key>plane_small_04_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,2},{107,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,130}}</string>
                <key>sourceSize</key>
                <string>{107,130}</string>
            </dict>
            <key>plane_small_04_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,256},{110,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,134}}</string>
                <key>sourceSize</key>
                <string>{110,134}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>003_enemy_a.png</string>
            <key>size</key>
            <string>{636,1016}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ebff1c247c74647211ce8492295d1185$</string>
            <key>textureFileName</key>
            <string>003_enemy_a.png</string>
        </dict>
    </dict>
</plist>
