<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>liaoji_01_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{38,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,25}}</string>
                <key>sourceSize</key>
                <string>{38,25}</string>
            </dict>
            <key>liaoji_02_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,29},{32,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,25}}</string>
                <key>sourceSize</key>
                <string>{32,25}</string>
            </dict>
            <key>liaoji_03_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,33},{42,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,26}}</string>
                <key>sourceSize</key>
                <string>{42,26}</string>
            </dict>
            <key>liaoji_04_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,2},{47,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,29}}</string>
                <key>sourceSize</key>
                <string>{47,29}</string>
            </dict>
            <key>zhuji_01_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,268},{116,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,119}}</string>
                <key>sourceSize</key>
                <string>{116,119}</string>
            </dict>
            <key>zhuji_02_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,137},{123,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{123,129}}</string>
                <key>sourceSize</key>
                <string>{125,129}</string>
            </dict>
            <key>zhuji_03_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,137},{118,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,130}}</string>
                <key>sourceSize</key>
                <string>{118,130}</string>
            </dict>
            <key>zhuji_04_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{163,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,133}}</string>
                <key>sourceSize</key>
                <string>{163,133}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>003_zhuji_a.png</string>
            <key>size</key>
            <string>{256,389}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:32f8a5c90c55da42e68489784f4c76a7$</string>
            <key>textureFileName</key>
            <string>003_zhuji_a.png</string>
        </dict>
    </dict>
</plist>
