<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>button_sd_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,195},{209,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,111}}</string>
                <key>sourceSize</key>
                <string>{209,111}</string>
            </dict>
            <key>button_sd_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,195},{209,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,111}}</string>
                <key>sourceSize</key>
                <string>{209,111}</string>
            </dict>
            <key>button_sd_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,195},{164,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,111}}</string>
                <key>sourceSize</key>
                <string>{164,111}</string>
            </dict>
            <key>button_sd_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,195},{164,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,111}}</string>
                <key>sourceSize</key>
                <string>{164,111}</string>
            </dict>
            <key>ui_sd_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,2},{460,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{460,191}}</string>
                <key>sourceSize</key>
                <string>{460,191}</string>
            </dict>
            <key>ui_sd_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{460,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{460,191}}</string>
                <key>sourceSize</key>
                <string>{460,191}</string>
            </dict>
            <key>ui_sd_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,195},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>view4.png</string>
            <key>size</key>
            <string>{926,308}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:267d4547ff3096747a096fb8dff2c84b:1/1$</string>
            <key>textureFileName</key>
            <string>view4.png</string>
        </dict>
    </dict>
</plist>
