<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>button_003_bcbisha.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,313},{375,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{375,96}}</string>
                <key>sourceSize</key>
                <string>{375,96}</string>
            </dict>
            <key>button_003_bcbisha_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,117},{375,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{375,96}}</string>
                <key>sourceSize</key>
                <string>{375,96}</string>
            </dict>
            <key>button_003_bchudun.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,215},{375,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{375,96}}</string>
                <key>sourceSize</key>
                <string>{375,96}</string>
            </dict>
            <key>button_003_bchudun_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,19},{375,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{375,96}}</string>
                <key>sourceSize</key>
                <string>{375,96}</string>
            </dict>
            <key>button_003_continue.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,19},{338,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,96}}</string>
                <key>sourceSize</key>
                <string>{338,96}</string>
            </dict>
            <key>button_003_continue_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,19},{338,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,96}}</string>
                <key>sourceSize</key>
                <string>{338,96}</string>
            </dict>
            <key>button_003_libao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,117},{375,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{375,96}}</string>
                <key>sourceSize</key>
                <string>{375,96}</string>
            </dict>
            <key>button_003_libao_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,19},{375,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{375,96}}</string>
                <key>sourceSize</key>
                <string>{375,96}</string>
            </dict>
            <key>button_003_main.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,19},{338,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,96}}</string>
                <key>sourceSize</key>
                <string>{338,96}</string>
            </dict>
            <key>button_003_main_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,411},{338,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,96}}</string>
                <key>sourceSize</key>
                <string>{338,96}</string>
            </dict>
            <key>button_003_sound_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,313},{338,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,96}}</string>
                <key>sourceSize</key>
                <string>{338,96}</string>
            </dict>
            <key>button_003_sound_close_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,215},{338,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,96}}</string>
                <key>sourceSize</key>
                <string>{338,96}</string>
            </dict>
            <key>button_003_sound_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,411},{338,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,96}}</string>
                <key>sourceSize</key>
                <string>{338,96}</string>
            </dict>
            <key>button_003_sound_open_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,411},{338,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,96}}</string>
                <key>sourceSize</key>
                <string>{338,96}</string>
            </dict>
            <key>button_004_hudun.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{15,972}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,972}}</string>
                <key>sourceSize</key>
                <string>{15,972}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>view13.png</string>
            <key>size</key>
            <string>{1050,509}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9e5d03063c33fe297d8d7356ada401d3:1/1$</string>
            <key>textureFileName</key>
            <string>view13.png</string>
        </dict>
    </dict>
</plist>
