<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>setting_about_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,341},{161,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,111}}</string>
                <key>sourceSize</key>
                <string>{161,111}</string>
            </dict>
            <key>setting_about_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,228},{161,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,111}}</string>
                <key>sourceSize</key>
                <string>{161,111}</string>
            </dict>
            <key>setting_help_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,115},{161,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,111}}</string>
                <key>sourceSize</key>
                <string>{161,111}</string>
            </dict>
            <key>setting_help_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,2},{161,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,111}}</string>
                <key>sourceSize</key>
                <string>{161,111}</string>
            </dict>
            <key>setting_music_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{470,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{470,90}}</string>
                <key>sourceSize</key>
                <string>{470,90}</string>
            </dict>
            <key>setting_music_effect.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{470,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{470,90}}</string>
                <key>sourceSize</key>
                <string>{470,90}</string>
            </dict>
            <key>setting_setting.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{378,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,99}}</string>
                <key>sourceSize</key>
                <string>{378,99}</string>
            </dict>
            <key>setting_sign.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,382},{67,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,69}}</string>
                <key>sourceSize</key>
                <string>{67,69}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>view9.png</string>
            <key>size</key>
            <string>{450,474}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:afb376e0bf743dacdb63437a67f2d412:1/1$</string>
            <key>textureFileName</key>
            <string>view9.png</string>
        </dict>
    </dict>
</plist>
