<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,2},{39,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,72}}</string>
                <key>sourceSize</key>
                <string>{39,72}</string>
            </dict>
            <key>bullet_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{43,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,73}}</string>
                <key>sourceSize</key>
                <string>{43,73}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Bullet.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5f79daef766b41383fbbaa2f03f286dc:1/1$</string>
            <key>textureFileName</key>
            <string>Bullet.png</string>
        </dict>
    </dict>
</plist>
