<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Plane0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{30,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,31}}</string>
                <key>sourceSize</key>
                <string>{30,31}</string>
            </dict>
            <key>Plane0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,2},{30,29}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,29}}</string>
                <key>sourceSize</key>
                <string>{30,31}</string>
            </dict>
            <key>Plane0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{21,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,31}}</string>
                <key>sourceSize</key>
                <string>{21,31}</string>
            </dict>
            <key>Plane0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,2},{21,29}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,29}}</string>
                <key>sourceSize</key>
                <string>{21,31}</string>
            </dict>
            <key>Plane1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,2},{46,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,41}}</string>
                <key>sourceSize</key>
                <string>{46,41}</string>
            </dict>
            <key>Plane1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{41,41}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{41,41}}</string>
                <key>sourceSize</key>
                <string>{43,41}</string>
            </dict>
            <key>Plane2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,2},{40,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,29}}</string>
                <key>sourceSize</key>
                <string>{40,29}</string>
            </dict>
            <key>Plane2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,2},{35,30}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{35,30}}</string>
                <key>sourceSize</key>
                <string>{37,32}</string>
            </dict>
            <key>Plane3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,2},{34,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,32}}</string>
                <key>sourceSize</key>
                <string>{34,32}</string>
            </dict>
            <key>Plane3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,2},{29,31}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{29,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Plane.png</string>
            <key>size</key>
            <string>{512,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a93be0e216ab87d8b29c5cacd0ff5d28$</string>
            <key>textureFileName</key>
            <string>Plane.png</string>
        </dict>
    </dict>
</plist>
