<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Box.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{320,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,61}}</string>
                <key>sourceSize</key>
                <string>{320,61}</string>
            </dict>
            <key>Hp.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{93,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,17}}</string>
                <key>sourceSize</key>
                <string>{93,17}</string>
            </dict>
            <key>MissileIco.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,2},{30,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,28}}</string>
                <key>sourceSize</key>
                <string>{30,28}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Message.png</string>
            <key>size</key>
            <string>{512,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d92575e8ab63357795dd9a3b92257794$</string>
            <key>textureFileName</key>
            <string>Message.png</string>
        </dict>
    </dict>
</plist>
